includes:
    - .config/composer/vendor/phpstan/phpstan-doctrine/extension.neon
    - .config/composer/vendor/phpstan/phpstan-doctrine/rules.neon
    - .config/composer/vendor/spaze/phpstan-disallowed-calls/extension.neon
    - .config/composer/vendor/ergebnis/phpstan-rules/rules.neon
    - .config/composer/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - .config/composer/vendor/slam/phpstan-extensions/conf/symfony-rules.neon
    - .config/composer/vendor/shipmonk/phpstan-rules/rules.neon
    - .config/composer/vendor/shipmonk/dead-code-detector/rules.neon
    - .config/composer/vendor/staabm/phpstan-todo-by/extension.neon

parameters:
    tips:
        treatPhpDocTypesAsCertain: true
    level: 6
    cache:
        nodesByStringCountMax: 0
    parallel:
        maximumNumberOfProcesses: 8
    paths:
        - .
    ergebnis:
        noIsset:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noExtends:
            enabled: false
    ignoreErrors:
        - '#Unused .*::__construct#'
        - '#Unused App\\.*::get.*#'
        - '#Unused App\\.*::set.*#'
        - '#Unused App\\Entity\\.*::is.*#'
        - '#Unused App\\Entity\\.*::add.*#'
        - '#Unused App\\Entity\\.*::remove.*#'

